
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica-Normal";
    src: url("../fonts/HelveticaNeueUI.ttf") format("truetype");
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/HelveticaNeueUI-Bold.ttf") format("truetype");
    font-style: normal;
  }
  