
/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
$Gray:#F9F9F9;
$Orange :#F47D4A;
$Maincolor :#333333;
$Textcolor : #ffffff;
$Midnight: #32384D;
$Bluesky: #4CB5F5;
$Bordercolor:#B7B8B6;
$Salescolor:#F32222;
$Graydiscount: #BDBDBD;
$Nearblack :#222B37;
$Grey: #F5F5F5;
$Gray3:#828282;
$Bluebold: #0273C4;
$Gray2:#4F4F4F;
$Gray5 :#E0E0E0;
$Slideborder:#f2f2f2;
$Mun :#202534;
$Bgbottomnav:#232F3E;
/* Components */
