/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Normal";
  src: url("../fonts/HelveticaNeueUI.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaNeueUI-Bold.ttf") format("truetype");
  font-style: normal;
}

.product {
  padding: 50px 0px;
}

.product__wrap--item h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 43.42px;
  padding-bottom: 32.39px;
}

.product__wrap--item .reviewer {
  margin-left: 19px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 20.35px;
}

.product__wrap--item .product__star {
  margin: 0;
}

.product__wrap--item .product__star img:not(:nth-child(1)) {
  margin-left: 8px;
}

.product__wrap--item .image__wrap {
  position: relative;
  overflow: hidden;
  border: 0.5px solid #B7B8B6;
  text-align: center;
  display: block;
  height: 487px;
}

.product__wrap--item .image__wrap span {
  left: 0px;
  margin-left: 0px;
}

.product__wrap--item .image__wrap--image {
  display: unset;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__wrap--item .logo__brand {
  width: 97px;
  height: 46px;
  margin: 30px 0px;
}

.product__wrap--item b {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 15px;
  line-height: 16.12px;
}

.product__wrap--item span {
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 16.12px;
}

.product__wrap--item .wrap__price {
  border-top: 0.5px solid #B7B8B6;
  border-bottom: 0.5px solid #B7B8B6;
  padding-top: 30px;
  margin-top: 31px;
  padding-bottom: 50px;
}

.product__wrap--item .wrap__price--item2 {
  padding-top: 30px;
}

.product__wrap--item .wrap__price--item2 .icon-social {
  margin-left: 20px;
  cursor: pointer;
}

.product__wrap--item .wrap__price--item {
  margin: 0;
}

.product__wrap--item .wrap__price--item .text-price {
  font-family: 'Roboto';
  font-size: 32px;
  line-height: 43.42px;
}

.product__wrap--item .wrap__price--item .price {
  font-weight: 700;
  margin: 0;
}

.product__wrap--item .wrap__price--item .discount {
  font-weight: 300;
}

.product__wrap--item .wrap__price--item .precent__change {
  background: #F32222;
  color: white;
  padding: 11px 19px 10px 20px;
  margin-left: 22px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22.27px;
}

.product__wrap--item .wrap__price--item .see--deal {
  padding: 14px 78px;
  text-align: center;
  background: #F47D4A;
  border-radius: 36px;
  font-family: 'Helvetica-Bold';
  font-weight: 700;
  color: #fff;
}

.product__wrap--item .product-infor {
  padding: 50px 0px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 24.6px;
  color: #4F4F4F;
}

.product__wrap--item .product-slide {
  padding: 20px 0px;
  position: relative;
}

.product__wrap--item .product-slide .slide-wrap {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-left: 9px;
}

.product__wrap--item .product-slide .slide-wrap img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-right: 4px;
}

.product__wrap--item .product-slide .active {
  border: 3px solid #4CB5F5;
  border-radius: 4px;
}

.product__wrap--item .product-slide .slick-prev {
  z-index: 12;
  left: 0px;
}

.product__wrap--item .product-slide .slick-prev::before {
  content: url(../images/content/left-arrow.png);
}

.product__wrap--item .product-slide .slick-arrow {
  border: 1px solid #B7B8B6;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 4px;
}

.product__wrap--item .product-slide .slick-next {
  z-index: 11;
  right: 0px;
}

.product__wrap--item .product-slide .slick-next::before {
  content: url(../images/content/right-arrow.png);
}

.product .overview {
  padding: 50px 0px;
  /* Style the tab content */
}

.product .overview .tab {
  overflow: hidden;
  background-color: #fff;
}

.product .overview .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 17px 54px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  border: 0.5px solid #B7B8B6;
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
  line-height: 27.88px;
  color: #222B37;
}

.product .overview .tab button:not(:nth-child(1)) {
  margin-left: 10px;
}

.product .overview .tab button:hover {
  background-color: #0273C4;
  color: #fff;
}

.product .overview .tab button.active {
  background-color: #0273C4;
  font-weight: 400;
  color: #fff;
}

.product .overview .tabcontent {
  margin-top: 30px;
  display: none;
  padding: 27px 34px;
  border: 1px solid #B7B8B6;
}

.product .overview .tabcontent p {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24.6px;
  font-size: 15px;
  color: #4F4F4F;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 120px;
  height: 120px;
}

.img-zoom-result {
  border: 3px solid #fff;
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
  position: absolute;
  right: -600px;
  top: 0px;
  z-index: 100;
  visibility: hidden;
}

.products__label {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17.3px;
  top: 26px;
  font-family: 'Helvetica-Bold';
  font-weight: 700;
}

.new__label {
  padding: 9px 21px;
  background: #4CB5F5;
  left: 19px;
  border-radius: 0px 20px 20px 0px;
  z-index: 30;
}
/*# sourceMappingURL=style.css.map */