
@import 'mixin';
@import 'vars';
@import 'fonts';

.product {
padding: 50px 0px;
    // product__wrap
    &__wrap {
  
      // product__wrap--item
      &--item {
        & h2 {
          @include Fontroboto();
          font-weight: 700;
          font-size: 32px;
          line-height: 43.42px;
          padding-bottom: 32.39px;
        }
  
        & .reviewer {
          margin-left: 19px;
          @include Fontroboto();
          font-weight: 400;
          font-size: 15px;
          line-height: 20.35px;
        }
  
        & .product__star {
          margin: 0;
  
          & img {
            &:not(:nth-child(1)) {
              margin-left: 8px;
            }
  
          }
        }
  
        & .image__wrap {
          position: relative;
          overflow: hidden;
          border: .5px solid $Bordercolor;
          text-align: center;
          display: block;
          height:487px;
          & span {
            left: 0px;
            margin-left: 0px;
          }
  
          // image__wrap--image
          &--image {
            display: unset;
            transition: all 0.5s linear;
           width:100%;
           height:100%;
           object-fit: cover;
          
          }
        }
  
        & .logo__brand {
          width: 97px;
          height: 46px;
          margin: 30px 0px;
        }
  
        & b {
          @include Fontroboto();
          font-weight: 700;
          font-size: 15px;
          line-height: 16.12px;
        }
  
        & span {
          @include Fontroboto();
          font-size: 15px;
          margin-left: 10px;
          font-weight: 400;
          line-height: 16.12px;
        }
  
        & .wrap__price {
          border-top: .5px solid $Bordercolor;
          border-bottom: .5px solid $Bordercolor;
          padding-top: 30px;
          margin-top: 31px;
          padding-bottom: 50px;
  
          // product__wrap--item2
          &--item2 {
            padding-top: 30px;
  
            & .icon-social {
              margin-left: 20px;
              cursor: pointer;
            }
          }
  
          // product__wrap--item
          &--item {
            margin: 0;
           
            & .text-price {
              @include Fontroboto();
  
              font-size: 32px;
              line-height: 43.42px;
            }
  
            & .price {
              font-weight: 700;
              margin: 0;
            }
  
            & .discount {
              font-weight: 300;
            }
  
            & .precent__change {
              background: $Salescolor;
              color: white;
              padding: 11px 19px 10px 20px;
              margin-left: 22px;
              font-weight: 700;
              font-size: 17px;
              line-height: 22.27px;
            }
  
            & .see--deal {
              padding: 14px 78px;
              text-align: center;
              background: $Orange;
              border-radius: 36px;
              @include Helvetica-Bold();
              color: $white;
            }
          }
        }
  
        & .product-infor {
          padding: 50px 0px;
          @include Fontroboto();
          font-weight: 400;
          font-size: 15px;
          line-height: 24.6px;
          color: $Gray2;
        }
  
        & .product-slide {
          padding: 20px 0px;
          position: relative;
          & .slide-wrap{
            overflow: hidden;
            border-radius: 4px;
           
            border: 1px solid $Slideborder;
           
            margin-left: 9px;
          & img {
            object-fit: fill;
            width: 100px;
            height: 100px;
            cursor: pointer;
            margin-right: 4px;
          }
           
          }
          // product-slide> img >active
          & .active{
            
            border: 3px solid $Bluesky;
            border-radius: 4px;
          }
  
          & .slick-prev {
            z-index: 12;
            left: 0px;
  
            &::before {
              content: url(../images/content/left-arrow.png);
            }
          }
  
          & .slick-arrow {
            border: 1px solid $Bordercolor;
            height: 40px;
            width: 40px;
            background: $foreground-color;
            border-radius: 4px;
          }
  
          & .slick-next {
            z-index: 11;
            right: 0px;
  
  
            &::before {
              content: url(../images/content/right-arrow.png);
            }
          }
        }
      }
    }
  
    & .overview {
      padding: 50px 0px;
  
      .tab {
        overflow: hidden;
        background-color: $foreground-color;
  
        & button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 17px 54px;
          transition: 0.3s;
          font-size: 17px;
          border: .5px solid $Bordercolor;
          @include Fontroboto();
          font-weight: 300;
          text-transform: uppercase;
          line-height: 27.88px;
          color: $Nearblack;
  
          &:not(:nth-child(1)) {
            margin-left: 10px;
          }
  
          &:hover {
            background-color: $Bluebold;
            color: $white;
          }
  
        }
  
        & button.active {
          background-color: $Bluebold;
          font-weight: 400;
          color: $white;
        }
  
      }
      /* Style the tab content */
      .tabcontent {
        margin-top: 30px;
        display: none;
        padding: 27px 34px;
        border: 1px solid $Bordercolor;
  
        & p {
          @include Fontroboto();
          font-weight: 400;
          line-height: 24.6px;
          font-size: 15px;
          color: $Gray2;
        }
      }
    }
  }
  
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 120px;
    height: 120px;
  }
  
  .img-zoom-result {
    border: 3px solid $white;
    /*set the size of the result div:*/
    width: 500px;
    height: 500px;
    position: absolute;
    right:-600px;
    top:0px;
    z-index: 100;
      visibility: hidden;
  }
  .products__label {
    position: absolute;
    color: $Textcolor;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17.3px;
    top: 26px;
    @include Helvetica-Bold();
  }
  
  .new__label {
    padding: 9px 21px;
    background: $Bluesky;
    left: 19px;
    border-radius: 0px 20px 20px 0px;
    z-index: 30;
  }